html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

form {
  width: 100%;
}

form * {
  font-size: 28px;
}
.texttd1 {
  color: red;
}
.texttd {
  color: green;
}
.editbut {
  background-color: lightblue;
  font-size: 20px;
}
.deletebut {
  background-color: lightcoral;
  font-size: 20px;
}
.savebut {
  background-color: lightblue;
  font-size: 20px;
}
.cancelbut {
  background-color: lightcoral;
  font-size: 20px;
}
.finishbut {
  background-color: lightgreen;
  font-size: 20px;
}
